.pokemon-card {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.searchPokes{
position: relative;
top: 80px;
font-size: 25px;
left: 750px;
}